<div class="layout layout--row">
  <div class="grid grid--cols-3 w--full">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div id="{{ pollen_chart_id }}" class="w--36 h--36 lg:w--72 lg:h--72 lg:portrait:w--60">Loading ...</div>
        <span class="label label--small lg:label--base">Pollen Count</span>
      </div>
    </div>

    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--base lg:value--large py--4 lg:py--8" data-value-fit="true">{% render 'format_pollen_label', properties: features.first.properties %}</span>
        <span class="label label--small lg:label--base">Pollen Type</span>
      </div>
    </div>

    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div id="{{ aqi_chart_id }}" class="w--36 h--36 lg:w--72 lg:h--72 lg:portrait:w--60">Loading ...</div>
        <span class="label label--small lg:label--base">Air Quality Index ({{ features.first.properties.Category }})</span>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke image-stroke--medium" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-nashville-pollen-aqi/refs/heads/main/assets/mnhd.png" width="28" height="28">
  <span class="title">Report for {{ features.first.properties.ReportDateTime |  divided_by: 1000 | date: '%-m/%-d/%Y' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name  }}</span>
</div>

<script>
  if (typeof window["{{ load_gauges_fn }}"] === "function") {
    window["{{ load_gauges_fn }}"]();
  }
</script>
